.grid-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 20vh 80vh;
}
.grid-item{
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.grid-item:nth-child(3){
  grid-column: 1/3;
}
.grilla{
  height: 100%;
  width: 100%;
}
.btn-change{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.btn-change span{
  position: absolute;
  bottom: 80px;
}